<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .col {
        /* background-color: antiquewhite; */
      }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col pt-4">
          <form action="/add_author" method="post">
            {% csrf_token %}
            <div class="form-group row">
              <label class="col-4" for="first_name">First Name</label>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  name="first_name"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4" for="last_name">Last Name</label>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  name="last_name"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4" for="notes">Notes</label>
              <div class="col-8">
                <textarea class="form-control" name="notes" rows=""></textarea>
              </div>
            </div>
            <div class="text-center p-4">
              <button class="btn btn-primary">add</button>
            </div>
          </form>
        </div>
        <div class="col pt-4">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for author in authors %}
              <tr>
                <th scope="row">{{author.id}}</th>
                <td>{{author.first_name}} {{author.last_name}}</td>
                <td><a href="authors/{{author.id}}">View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
