<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .col {
        /* background-color: antiquewhite; */
      }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col pt-4">
          <form action="/add_book" method="post">
            {% csrf_token %}
            <div class="form-group row">
              <label class="col-4" for="title">Title</label>
              <div class="col-8">
                <input type="text" class="form-control" name="title" required />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4" for="description">Description</label>
              <div class="col-8">
                <textarea
                  class="form-control"
                  name="description"
                  rows=""
                ></textarea>
              </div>
            </div>
            <div class="text-center p-4">
              <button class="btn btn-primary">add</button>
            </div>
          </form>
        </div>
        <div class="col pt-4">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for book in books %}
              <tr>
                <th scope="row">{{book.id}}</th>
                <td>{{book.title}}</td>
                <td><a href="books/{{book.id}}">View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
