<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- choose a theme file -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/theme.default.css')}}"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      table {
        border-collapse: collapse;
        text-align: center;
      }
      table thead th,
      table tbody td {
        border: black solid 1px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <table id="myTable" class="tablesorter">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Full Name</th>
      </thead>
      <tbody>
        {% for item in users_table %}
        <tr>
          <td>{{ item['first_name'] }}</td>
          <td>{{item['last_name'] }}</td>
          <td>{{ item['first_name'] +" "+ item['last_name']}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

    <!-- load jQuery and tablesorter scripts -->
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/jquery.tablesorter.js')}}"
    ></script>
    <script>
      $(function () {
        $("#myTable").tablesorter();
      });
    </script>
  </body>
</html>
