* {
  /* outline: red dashed 2px; */
}

.wrapper {
  height: 649px;
  width: 711px;
  margin: 0 auto;
  /* background-image: url("../images/displayBlocks.png");
  background-repeat: no-repeat;
  background-size: contain; */
  background-color: #d3d4ad;
}

.title h1 {
  margin: 0 5px 0 5px;
  padding: 0px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 90px;
}

.title img {
  background-color: white;
  padding-bottom: 10px;
}

ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  padding-left: 20px;
  padding-right: 25px;
  margin-top: 8px;
  list-style: none;
  margin-bottom: 0px;
}

ul li {
  margin: 0px;
  border: black solid 3px;
  padding: 10px;
  max-height: 100px;
  max-width: 100px;
  margin-top: 2px;
}

ul li:nth-of-type(5n + 2),
li:nth-of-type(5n + 4) {
  background-color: #ff4e67;
}

ul li:nth-of-type(5n + 1),
li:nth-of-type(5n + 3),
li:nth-of-type(5n + 5) {
  background-color: #7bb2f0;
}
