<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Book | my book</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    />
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
    ></script>
    <style>
        .header_size {
            width: 95%;
            margin: 0px auto;
        }

        .line {
            height: 2px;
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light header_size">
        <a class="navbar-brand" href="/">Welcome, {{request.session.name}}!</a>
        <div class="mr-0 ml-auto">
            <a class="btn btn-danger" href="/logout">Log out</a>
        </div>
    </nav>
    <div class="line header_size"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6 border-right">
                <h3>{{book.title}}</h3>
                <p>Added by: {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>
                <p>Added on: {{book.created_at}}</p>
                <p>Last update on: {{book.updated_at}}</p>
                <p>Description: {{book.description}}</p>
            </div>
            <div class="col-sm-6">
                <h3>Users Who Like This Book:</h3>
                <ul>
                    {% for user in book.favorite_by.all %}
                    <li>{{user.first_name}} {{user.first_name}} {% if user.id == request.session.userid and book.id in my_favorites %}<form class="d-inline-flex" action="/books/{{book.id}}/un_favorite" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="book_id" value="{{book.id}}">
                        <button class="btn btn-link">Un-Favorite</button>
                    </form>{% endif %}</li>
                    {% endfor %}
                </ul>
                {% if book.id not in my_favorites %}
                <form class="" action="/books/{{book.id}}/add_to_favorite" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" value="{{book.id}}">
                    <button class="btn btn-link">Add to Favorite</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>