<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodingDojo Wall</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <style>
            .bs-linebreak {
                height: 10px;
            }
        </style>
            
        
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#!">CodingDojo Wall</a>
        <div class="mr-0 ml-auto">
            <a class="navbar-brand" href="#">Welcome, {{request.session.name}}</a>
            <a class="btn btn-danger" href="/logout">Log out</a>
        </div>
      </nav> 

      <div class="container mt-3">

        {% if messages|length > 0 %}
            <div class="row mt-3">
                {% for message in messages %}
                <div class="alert  alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif%} alert-dismissible fade show w-100" role="alert">
                    <p class="m-0">{{ message }}</p> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>                       
                </div>
                    {% endfor %}
            </div>
            {%endif%}
        <br />
        <div class="row">
            <div class="col-12">
                <form action="/wall/post_message" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="message">Post a message</label>
                            <textarea class=" w-100" name="message" id="message" cols="30" rows="5"></textarea>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary">Post a message</button>
                        </div>
                    </form>
                </div>
        </div>
        <div class="col-md-12 bs-linebreak"></div>
        {% for message in wall_messages %}
        <div class="row my-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h4 class="card-title col">{{message.user.first_name}} {{message.user.last_name}} - {{message.created_at}}</h4>
                            {% if message.user.id == request.session.userid %}
                            <div class="mr-3 ml-auto">
                                <form action="/wall/delete_message" method="post">
                                    {% csrf_token %}
                                <input type="hidden" name="message_id" value="{{message.id}}">
                                <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                      <p class="card-text">{{message.message}}</p>
                      
                      <div class="col-11 mx-auto">
                      {% for comment in message.comment.all %}
                        <h4 class="card-title">{{comment.user.first_name}} {{comment.user.last_name}} - {{comment.created_at}}</h4>
                        <div class="bg-warning p-2">{{comment.comment}}</div>
                      {% endfor %}
                    <div class="col-12">
                        <form action="/wall/post_comment" method="post">
                            {% csrf_token %}
                                <input type="hidden" name="message_id" value="{{message.id}}">
                                <div class="form-group">
                                    <label for="comment{{message.id}}">Post a comment</label>
                                    <textarea class=" w-100" name="comment" id="comment{{message.id}}" cols="30" rows="3"></textarea>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-success">Post a comment</button>
                                </div>
                            </form>
                        </div>
                    </div>

                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>