<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>login or register</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <div class="container mt-3">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="">
                        <h1 class="text-center">Registration</h1>
                    </div>
                    <div class="pt-4">
                        <form action="/register" method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-4" for="first_name"
                                    >First Name</label
                                >
                                <div class="col-6">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="first_name"
                                        name="first_name"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4" for="last_name"
                                    >Last Name</label
                                >
                                <div class="col-6">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="last_name"
                                        name="last_name"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4" for="email">Email</label>
                                <div class="col-6">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4" for="birthday">Birthday</label>
                                <div class="col-6">
                                <input
                                  type="date"
                                  class="form-control"
                                  id="birthday"
                                  name="birthday"
                                  required
                                />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4" for="password"
                                    >Password</label
                                >
                                <div class="col-6">
                                    <input
                                        type="password"
                                        class="form-control"
                                        name="password"
                                        id="password"
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4" for="repassword"
                                    >Confirm PW</label
                                >
                                <div class="col-6">
                                    <input
                                        type="password"
                                        class="form-control"
                                        name="repassword"
                                        id="repassword"
                                    />
                                </div>
                            </div>
                            <div class="text-center p-2">
                                <a class="btn btn-secondary" href="/">Cancel</a>
                                <button class="btn btn-primary">Register</button>
                            </div>
                        </form>
                        <div class="row mt-3">
                            {% if messages|length > 0%}
                            <div class="alert alert-danger w-100" role="alert">
                                <ul class="m-0">
                                    {% for message in messages %}
                                    <li
                                        {% if message.tags %}
                                        class="{{ message.tags }}"
                                        {% endif%} >
                                        {{ message}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
