<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .welcome {
        text-align: center;
      }
      form {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="welcome">
      <h1>Welcome to the Great Number Game!</h1>
      <p>I am thinking of a number between 1 and 100</p>
      <p>Take a guess!</p>
    </div>

    <form action="/guess" method="POST">
      <input type="number" name="number" required />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
